/*#hours{
    border: 3px solid white;
    border-radius: 15px;
    background-color: orange;
      width: 100px;
    height: 40px;
    text-align: center;
    float: left;
      padding: 5px;
      box-shadow: 10px 10px 5px black;
}
#minutes{
    border-radius: 15px;
    border: 3px solid white;
    background-color: orange;
      width: 100px;
    height: 40px;
    text-align: center;
    float: left;
      padding: 5px;
      box-shadow: 10px 10px 5px black;
}

#seconds{
  border: 3px solid white;
  border-radius: 15px;
  background-color: orange;
    width: 100px;
  height: 40px;
  text-align: center;

  float: left;
  padding: 5px;
  box-shadow: 10px 10px 5px black;
      }
    #temp{
          border: 3px solid white;
          border-radius: 15px;
          background-color: orange;
          width: 70px;
          height: 40px;
          text-align: center;
          float:left;
            padding: 5px;
            box-shadow: 10px 10px 5px black;


      }
  #country_name{
          border-radius: 15px;
          border: 3px solid white;
          background-color: orange;
            width: 70px;
          height: 40px;
          text-align: center;
          float:left;
            padding: 5px;
            box-shadow: 10px 10px 5px black;
      }

      #locs{
        border: 3px solid white;
        border-radius: 15px;
        background-color: orange;
          width: 180px;
        height: 40px;
        text-align: center;
        float:left;

        padding: 5px;
        box-shadow: 10px 10px 5px black;
            }*/
body{
  background-color: #FFFACD;
  margin: auto;
width:1100px;
padding-top: 10px;
padding-left: 50px;
padding-right: 40px;
height: 800px;
font-family: 'Open Sans', sans-serif;

      }
.title{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 25px;
    background-color: 	#4682B4;
    width:1100;
}
/*.time_display{

  border: 2px solid white;
  box-shadow: 15px 15px 10px black;
  float: right;
  border-radius: 10px;
  width:400px;
  height:200px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: #4682B4;

}
.weather_display{

  border: 2px solid white;
  box-shadow: 15px 15px 10px black;
  float:right;
  border-radius: 10px;
  width:400px;
  height:230px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: #4682B4;


}*/
.input1{
  border: 2px solid white;
  box-shadow: 15px 15px 10px black;
  border-radius: 10px;
  width:300px;
  height:400px;
  text-align: center;
  float: right;
  background-color: #4682B4;

}
.input_boxes{
  box-shadow: 5px 5px 1px black;
  border-radius: 10px;
  width: 180px;
  height: 35px;
  padding-left: 10px;

}
.submit{
  box-shadow: 5px 5px 1px black;
  border-radius: 10px;
  width: 90px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  font-style: italic;


}
.intro{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width:700px;
  height:550px;
  float: left;
  background-color: #4682B4;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;

}

.timenow {
  box-shadow: 5px 5px 1px black;
  border-radius: 10px;
  width: 90px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  font-style: italic;


}
